{% extends 'catalog/base.html' %}
{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/cart.css' %}">

<h1 class="cart-user ml-4 mb-4"> Carrinho </h1>

<div class="row">

{% if cart.products.all %}
	<div class="col-lg-6 col-sm-10 offset-sm-1">
	{% for c in cart.products.all %}
		<div class="product-separator col-lg-10 offset-lg-1 col-sm-12 mt-4 mb-4" style="	background: linear-gradient(0deg, #111, #111111d1, #111111a3, #3330), url('{{c.image.url}}') no-repeat center top; background-size: 100%; height:auto;" >


			<table class="ml-4 product-list">
				<tr></tr>
				<tr>
					<th style="width:15%; color:#fff">Produto</th>
					<th style="width:40%; color:#F76C5E; font-weight: 600">
						{{c.name}}
					</th>
					<th>
						<th style="width:10%; color:#fff">Preço</th>
						<th style="width:40%; color:#F76C5E; font-weight: 600">{{c.price}} €</th>
					</th>
					<th class="text-center my-auto">
						{% include 'users/snippets/remove_product.html' %}
					</th>
				</tr>
				<tr>
				</tr>
			</table>
		</div>
	{%endfor%}
	</div>

	<div class="col-lg-4 col-sm-10 offset-sm-1">
	
		<h4 class="total mt-4 mb-4"> Subtotal: <span style="color:#F76C5E"> {{cart.subtotal}} € </span></h4>

		<a href="{% url 'create-order' %}">
			<div class=" col-lg-8 col-sm-12 buy-btn text-center"> Encomendar 
			</div>
		</a>
	</div>

</div>

{% else %}

	<div class="cart-flex">
		<h1> Parece que o seu carrinho está vazio!</h1><br>
		<h4><a href="{% url 'catalog' %}"> Faça uma visita ao nosso catálogo.</a></h4>
	</div>

{% endif %}
	
	<script type="text/javascript" src="{% static 'catalog/js/catalog.js' %}"></script>

{%endblock%}


</body>
</html>
