@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,600&display=swap');

* {
	font-family: 'Quicksand', sans-serif;
}


.login-form {
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
    margin-top: 15px;
    width:15em;
    margin-bottom: 15px;
}

button {
    border: 1px solid #fff0;
    padding: 5px;
    background: #F76C5E;
    color: #fff;
}